form {
  width: 40%;
  margin: 20px auto;
  padding: 8px 12px;
  border: 1px solid slategray;
  border-radius: 10px;
}

.input-container {
  width: 80%;
  margin: 5px auto;
  display: flex;
}

.input-error {
  width: 74%;
  margin: 10px 0 20px auto;
  font-size: 12px;
  padding: 0;
  line-height: 0.2;
}


input {
  width: 80%;
  padding: 4px 8px;
  color: darkcyan;
}

input[type="submit"] {
  display: block;
  width: 80%;
  margin: 10px auto;
  color: azure;
  font-weight: bold;
  text-transform: uppercase;
}

label {
  width: 20%;
}
