<app-header></app-header>
<form action="" #addEmp="ngForm" (ngSubmit)="addEmployee(addEmp.value)" novalidate>
  <div class="input-container">
    <label for="fname">First Name</label>
    <input type="text" id="fname" #firstName="ngModel" ngModel name="firstName" required/>
  </div>
  <div class="input-error">
    <p class="text-danger" *ngIf="firstName.errors?.['required'] && firstName.touched">
      FirstName cannot be empty
    </p>
  </div>

  <div class="input-container">
    <label for="lname">Last Name</label>
    <input type="text" id="lname" #lastName="ngModel" ngModel name="lastName" required/>
  </div>
  <div class="input-error">
    <p class="text-danger" *ngIf="lastName.errors?.['required'] && lastName.touched">
      LastName cannot be empty
    </p>
  </div>

  <div class="input-container">
    <label for="email">Email</label>
    <input type="email" id="email" #email="ngModel" ngModel name="email" required/>
  </div>
  <div class="input-error">
    <p class="text-danger" *ngIf="email.errors?.['required'] && email.touched">
      Email cannot be empty
    </p>
  </div>

  <div class="input-container">
    <label for="did">Department ID</label>
    <input type="number" id="did" #deptID="ngModel" ngModel name="deptID" min="1" max="3" required/>
  </div>
  <div class="input-error">
    <p class="text-danger" *ngIf="deptID.errors?.['required'] && deptID.touched">
      DeptID cannot be empty
    </p>
    <p class="text-danger" *ngIf="deptID.errors?.['min'] && deptID.errors?.['max'] && deptID.touched">
      DeptID must be minimum 1 or 3 max
    </p>
  </div>
  <input [disabled]="!addEmp.valid" type="submit" value="Insert" class="btn btn-dark"/>
</form>
